numpy==1.24.2
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
opencv-python==4.11.0.86
pandas==2.3.0
tqdm==4.67.1
scikit-learn==1.6.1
monai==1.4.0
pyyaml==6.0.2
yacs==0.1.8
mamba-ssm==2.2.2
huggingface-hub==0.33.1
tokenizers==0.15.2
transformers==4.36.2
timm==0.6.12
fvcore==0.1.5.post20221221
nibabel==5.3.2